<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cst.hqu.edu.cn.myphone">

    <!-- 获取应用权限 -->
    <!--连接网络权限，用于执行云端语音能力-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取网路信息状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前WIFI状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--读取手机信息权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--获取手机录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cat"
        android:label="DingDang"
        android:roundIcon="@mipmap/cat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chat"></activity>
        <activity android:name=".About"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>

    </application>

</manifest>